<% if movie.favorited_by?(current_customer) %>
    <p>
      <%= link_to public_movie_favorites_path(movie), method: :delete do %>
        ♥<%= movie.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to public_movie_favorites_path(movie), method: :post do %>
        ♡<%= movie.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>