<% if movie.favorited_by?(current_customer) %>
  <span>
    <%= link_to public_movie_favorites_path(movie),class:"text-dark", method: :delete, remote: true do %>
      <i class="fa fa-heart" aria-hidden="true"></i><%= movie.favorites.count %>
    <% end %>
  </span>
<% else %>
  <span>
    <%= link_to public_movie_favorites_path(movie),class:"text-dark", method: :post, remote: true do %>
      <i class="fa fa-heart" aria-hidden="true"></i><%= movie.favorites.count %>
    <% end %>
  </span>
<% end %>
